* {
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main section {
  width: 80%;
  margin: 0 auto;
}

.main section.fullsize {
  width: 100%;
  margin: 0;
}

h1 {
  font-family: "Montserrat";
  text-align: center;
  font-size: xx-large;
}

.align-h {
  text-align: start;
}

/* PAGE INDEX */

.flex-nav a img {
  width: 50%;
  height: 50%;
  padding-left: 3em;
}

#magic-banner {
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  z-index: 10;
}

video {
  margin-bottom: 2em;
}

/* Menu Nav */

.flex-nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: #141414;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}

nav {
  padding: 1em;
}

nav ul li {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  padding: 1em 0;
  margin-right: 2.5em;
}

nav .button > a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
  letter-spacing: 0.5px;
}

nav > ul > .button > a:hover {
  transition: 1s;
  color: yellowgreen;
}

.arrow-bottom {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: white;
  font-size: 30px;
  cursor: pointer;
  animation: boing 3s infinite;
  transition: 1s;
}

@keyframes boing {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  40% {
    transform: translatey(-30px);
    opacity: 0;
  }

  50% {
    transform: translateY(-30px);
    opacity: 1;
  }

  90% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.arrow-bottom:hover {
  scale: 1.5;
  animation: boing none;
}

/* Présentation */

.flex-present {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 2em 0;
}

.flex-present > img {
  border-radius: 1em;
}

.flex-present > p {
  width: 40%;
  margin: auto 0;
  padding: 1em;
}

/* Réalisations */

.flex-real {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 2em 0;
}

.flex-real a {
  width: 25%;
  display: flex;
}

.flex-real a img {
  width: 100%;
  transition: 1s;
  opacity: 0.8;
}

.flex-real a img:hover {
  opacity: 1;
}

/* Cards */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.card-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4em;
}

.card {
  width: 100%;
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  transition: 1s;
  padding: 1em;
}

.card:hover {
  transform: scale(1.03);
  animation: pulse 1s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.5);
  }
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}

.description {
  padding: 1em 0;
}

/* Contact */
.flex-contact {
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding-bottom: 2em;
  padding-top: 1em;
}

.content-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 2em 0;
}

.text {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 1.5em;
}

.text h1 {
  margin-bottom: 40px;
}

.text span {
  width: fit-content;
}

.button-devis {
  width: fit-content;
  text-decoration: none;
  align-self: flex-end;
  color: rgb(255, 255, 255);
  padding-bottom: 2em;
  padding-left: 2em;
  transition: 1s;
}

.button-devis:hover {
  transform: scale(1.1);
}

.button-devis a {
  text-decoration: none;
}

#devis {
  color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 2em;
  background-color: #141413;
  padding: 1em;
}

/* Footer */
#footer {
  background-color: #1d1d1d;
  color: rgb(197, 197, 197);
  padding: 3em;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer-wrapper > a {
  width: 12.5%;
  display: flex;
}

.footer-wrapper a img {
  width: 80%;
}

.information {
  text-align: center;
}

.social > a {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin: 0 8px;
  transition: 1s;
}

.social > a:hover {
  color: yellowgreen;
}

.social ion-icon {
  transition: 1s;
}

.social ion-icon:hover {
  transform: scale(1.2);
}

/* Copyright */
#copyright {
  padding: 1em;
  background-color: rgb(20, 20, 19);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: rgb(197, 197, 197);
}

/* PAGE SERVICES */

.flexboxes-services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5em 0;
}

.boxes-services {
  width: 40%;
  margin: 1em 0;
  transition: 1s;
}

.flexboxes-services img {
  width: 100%;
  border-radius: 1em;
  transition: 1s;
}

.flexboxes-services img:hover {
  transform: scale(1.01);
  transform: translateY(-0.3em);
}

.flexboxes-services p {
  width: fit-content;
}

.flexboxes-services .boxes-services:hover {
  transform: scale(1.01);
  transform: translateY(-0.3em);
}

/* PAGE PROJET */

.flexboxes-projet {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}

.box-top {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
  padding: 5em 0;
  animation: shadow 2s;
  animation-fill-mode: forwards;
}

@keyframes shadow {
  0% {
    color: rgb(10, 10, 10);
  }

  100% {
    color: white;
  }
}

.box-top-child1 {
  display: flex;
  flex-flow: column;
  width: 40%;
  align-items: center;
}

.box-top-child2 {
  width: 40%;
  text-align: justify;
}

.box-fly {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 2em 0;
  background: rgb(42, 42, 42);
  background: linear-gradient(
    180deg,
    rgb(10, 10, 10) 50%,
    rgba(255, 255, 255, 1) 50%
  );
}

.box-fly img {
  transition: 1s;
}

.box-fly img:hover {
  transform: scale(1.03);
  animation: pulse 1s;
  animation-fill-mode: forwards;
}
.box-bottom {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 80%;
  margin: 2em auto;
}

.box-bottom > p {
  width: 50%;
  margin: auto 0;
  text-align: justify;
}

/* PAGE REALISATION */

/* Banner */
.banner {
  background-image: url("./img/Le12_edited.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  margin-bottom: 5em;
}

.banner h1 {
  margin: auto;
  color: white;
  text-transform: uppercase;
  font-size: 4em;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.8);
}

/* Gallery*/

.gallery {
  margin: auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 2em;
  margin: 5em 0;
}

.capture-videos img {
  width: 100%;
  height: auto;
}

.item {
  position: relative;
}

.capture-videos {
  overflow: hidden;
}

.capture-videos img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:hover .title {
  opacity: 1;
}

.item:hover .capture-videos img {
  width: 100%;
  filter: blur(2px);
}

/* PAGE CONTACT */

.map {
  margin-bottom: 5em;
}

/* Tableau */

.schedule {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

th {
  padding: 2em;
  width: 5em;
}

td {
  padding: 1em 0;
}

.green {
  background-color: #7ec89c;
}

.yellow {
  background-color: #fcec5b;
}

.red {
  background-color: rgb(255, 90, 90);
}

/* Formulaire */

.formulaire {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 60%;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-wrapper .box {
  display: flex;
  flex-direction: column;
}

.box {
  width: 100%;
  padding: 0 20px;
  margin: 20px 0;
}

.box label {
  margin-bottom: 15px;
}

label.error {
  margin: 1em 0 0 0;
  color: #ff5a5a;
  font-weight: 600;
  font-size: 12px;
}

.box input,
select {
  height: 40px;
  border-radius: 1.5em;
  border: 1px solid grey;
  padding: 0 15px;
}

.box textarea {
  border-radius: 10px;
  border: 1px solid grey;
  padding: 1em;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  background-color: #141413;
  border-radius: 1.5em;
  padding: 12px;
  width: fit-content;
  transition: 1s;
}

button:hover {
  transform: scale(1.1);
}

/* REPONSIVE HERE */

@media screen and (max-width: 930px) {
  /* INDEX */

  .flex-present {
    flex-flow: column wrap;
    align-items: center;
  }

  .flex-present img {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
  }

  .flex-present p {
    width: fit-content;
    text-align: justify;
  }

  .flex-present img {
    width: 90%;
    margin: 1em;
  }

  .flex-real {
    flex-flow: column;
    align-items: center;
  }

  .flex-real a {
    width: 90%;
    padding: 1em 0;
  }

  .flex-real a img {
    border-radius: 1em;
  }

  .invisible-mobile {
    display: none;
    padding: 0 !important;
  }

  .content-wrapper {
    flex-flow: column;
  }

  .text {
    align-self: center;
    text-align: justify;
    padding-bottom: 2em;
    width: 80%;
  }

  .button-devis {
    align-self: center;
    padding-top: 2em;
    padding-left: 0;
  }

  .align-h {
    text-align: center;
    line-height: 1em;
  }

  .card {
    padding: 1em;
    box-sizing: border-box;
  }

  .card-wrapper {
    width: 100%;
    grid-template: 1fr / 1fr;
    text-align: justify;
  }

  .footer-wrapper {
    flex-flow: column;
  }

  .footer-wrapper .information {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .footer-wrapper a {
    width: 75%;
  }

  .footer-wrapper a img {
    margin: 0 auto;
  }

  /* PROJET */

  .box-top {
    flex-flow: column wrap;
  }

  .box-top-child1 {
    width: 80%;
  }

  .box-top-child2 {
    width: 80%;
  }

  .box-fly img {
    width: 80%;
  }

  .box-bottom {
    flex-flow: column wrap;
  }

  .box-bottom video {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .box-bottom p {
    width: fit-content;
    padding-bottom: 1em;
  }

  /* REALISATION */

  .gallery {
    width: 100%;
    grid-template: 1fr / 1fr;
  }

  .title {
    opacity: 1;
    letter-spacing: 1px;
  }

  .item .capture-videos img {
    filter: blur(2px);
  }

  .light {
    font-size: 25px;
    font-weight: normal;
  }

  /* SERVICES */

  .flexboxes-services {
    flex-flow: column wrap;
    justify-content: center;
  }

  .boxes-services {
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
  }

  .boxes-services img {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* CONTACT */

  form {
    width: 75%;
  }

  .form-wrapper {
    flex-direction: column;
  }

  .box {
    padding: 0;
  }

  table {
    margin: 0 auto;
  }

  table thead {
    display: none;
  }

  table tr {
    display: block;
  }

  table td {
    display: block;
    width: 10em;
  }

  table td::before {
    content: attr(data-label);
  }

  /* AUTRES */
  #magic-banner {
    opacity: 1 !important;
    position: sticky;
  }

  #magic-banner nav ul {
    display: none;
  }

  .flex-nav img {
    display: none;
  }

  nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  nav ul {
    padding: 0;
  }

  nav ul li {
    margin: 0;
    width: 100%;
  }

  .burger {
    width: 35px;
    height: 24px;
    position: relative;
    cursor: pointer;
  }

  .burger span {
    width: 100%;
    height: 4px;
    background-color: white;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease-in-out;
  }

  .burger span::before,
  .burger span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: transform 0.5s ease-in-out;
  }

  .burger span::before {
    transform: translateY(-10px);
  }

  .burger span::after {
    transform: translateY(10px);
  }

  .burger.active span {
    background-color: transparent;
  }

  .burger.active span::before {
    transform: translateY(0px) rotateZ(45deg);
  }

  .burger.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
  }

  .arrow-bottom {
    visibility: hidden;
  }

  .banner {
    width: 100%;
    height: fit-content;
  }

  .banner h1 {
    font-size: 2.5em;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .order1 {
    order: 1;
  }

  .order2 {
    order: 2;
  }

  .order3 {
    order: 3;
  }

  .order4 {
    order: 4;
  }
}
